---
layout: base.njk
---

<p class="theme-debug level3">project-detail.njk</p>


{# <img src="{{ image }}" alt="{{ title }} image"> #}


  <section class="hero">
    <span class="tag">Webdesign</span> 
    <h1>Titel</h1>
    <p class="subtext">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      At vero eos et accusam et justo duo dolores et ea rebum.
    </p>
  </section>

  <section class="box-container">
    <div class="box">
      <h2 class="detail">Zeitraum</h2>
      <p>4 Wochen</p>
    </div>

    <div class="box">
      <h2 class="detail">Meine Rolle</h2>
      <p>UX + UI Design, Visual design, Branding, User flow, Research, Prototyping + Testing</p>
    </div>

    <div class="box">
      <h2 class="detail">Tools</h2>
      <p>Figma, FigJam, Zoom, Google Forms</p>
    </div>
  </section>


{{ content | safe }}


<p class="theme-debug level3">/project-detail.njk</p>
