---
layout: base.njk
---
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section class="hero">
    <img src="/images/eljesa.jpg" alt="Bild von Eljesa Rexhepi" class="hero-img">
    <h1>Ich bin <span class="italic">Eljesa Rexhepi</span><br>
      eine UX/ UI <span class="italic">Designerin</span><br>
      based in Switzerland.</h1>
    <p class="subtext">
      eine leidenschaftliche Designerin mit einem Auge für klare Ästhetik und nutzerfreundliche Lösungen. 
      Meine Motivation ist es, durch Design Geschichten zu erzählen und Menschen einen echten Mehrwert zu bieten.
    </p>
    <a href="#" class="btn-dark">Lets work</a>
  </section>


  <section class="skills">
    <h2 class="white">Was ich mache</h2>
    <ul>
      <li><span class="icon">✦</span> User Research & Analyse</li>
      <li><span class="icon">✦</span> Wireframes & Prototypen</li>
      <li><span class="icon">✦</span> Informationsarchitektur</li>
      <li><span class="icon">✦</span> Design Interfaces</li>
    </ul>
  </section>


  <section class="portfolio">
  <h2 class="h2-schwarz" id="arbeiten">Meine Arbeiten</h2>
  <div class="portfolio-list">
    

    {% include "partials/projects-list.njk" %}

  
  </div>
</section>
</body>
</html>