html {
	--accent-color: indigo;
	--font-color: #333;
   scroll-behavior: smooth;
}

@font-face {
    font-family: 'Inter';
    src: url(/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
	  font-weight: 100 900;
}

@font-face {
    font-family: 'Playfair';
    src: url('/Playfair_Display/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

@font-face {
  font-family: 'Lexend';
  src: url(/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  line-height: 1.6;
  color: #000;
}


header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: #fff;
}

nav .logo {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;  
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
}

nav .btn {
    background-color: #000000;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
}


.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero-img {
    width: 180px;
    height: 180px;           
    object-fit: cover;       
    border-radius: 50%;
}
.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin: 20px 0;
}

.hero .italic {
  font-style: italic;
}

.subtext {
  max-width: 600px;
  margin: 0 auto 20px;
  color: #555;
}

.btn-dark {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 12px 28px;
  border-radius: 25px;
  text-decoration: none;
  margin: 16px;
}


.skills {
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}

.skills h2 {
  border: 1px solid #ffffff;
  border-radius: 200px;
  display: block;         
  width: 100%;            
  text-align: center;     
  padding: 10px 30px;
  margin-bottom: 40px;
  font-family: 'Playfair';
  font-size: 70px;
  box-sizing: border-box; 
}
.skills ul {
  list-style: none;
  padding: 100px;
  text-align: left;

}

.skills li {
    font-size: 80px; 
    margin: 20px 0;
}

.icon {
  margin-right: 10px;
}

.portfolio {
  padding: 60px 20px;
}

.h2-schwarz {
  border: 1px solid #000000;
  border-radius: 200px;
  display: block;         
  width: 100%;           
  text-align: center;     
  padding: 10px 30px;
  margin-bottom: 40px;
  font-family: 'Playfair';
  font-size: 70px;
  box-sizing: border-box; 
  }

.portfolio-list article {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap; 
}

.portfolio-text {
  flex: 1;
  min-width: 250px;
  font-size: 20px;
}

.portfolio-text .tag {
  display: inline-block;
  border: 1px solid #7F9172; 
  color: #7F9172;
  padding: 5px 10px;
  border-radius: 100px;
  font-size: 20x;
  margin-bottom: 10px; 
}

.portfolio-text h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.portfolio-text p {
  margin-bottom: 10px;
}

.portfolio-text a {
  color: #757155;
  text-decoration: none;
  font-weight: bold;
  text-align: right;
}

.portfolio-text a:hover {
  text-decoration: underline;
}

.portfolio-image {
  flex: 1;
  min-width: 250px;
}

.portfolio-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.tag {
  font-size: 12px;
  background: #ffffff;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 10px;
}

article h3 {
  margin: 10px 0;
  font-size: 16px;
}

.content {
  max-width: 600px;
  margin: 80px auto; 
  text-align: center;
  padding: 0 20px;
}


.box-container {
  display: flex;
  justify-content: center;
  align-items: stretch; 
  gap: 20px; 
  padding: 60px 20px;
  flex-wrap: wrap; 
}

.box {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  flex: 1 1 250px; 
  max-width: 320px; 
  text-align: left;
  transition: transform 0.2s ease;
}


.box h2 {
  color: #ffffff; 
  font-size: 1.4rem;
  margin-bottom: 12px;
  font-family: Lexend;
  font-weight: 200;
}

.box p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
}

h2.white {
  color: #ffffff;
}

.hero h1 {
  font-family: Lexend;
  font-weight: 300;
  font-size: 3rem;
  color: #000000;
  
}

h2.detail {
  color: #950952;

}

.box-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  margin: 80px auto;
  max-width: 1200px;
  flex-wrap: nowrap; 
}
.box p {
  margin: 0;
  font-size: 20px;
  color: #000000;
  line-height: 1.5;
}

.text-section {
  max-width: 1200px;
  margin: 120px auto;
  padding: 0 20px;
}

.text-image {
  margin: 60px 0;
}

.text-image img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  display: block;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.text-block {
  margin: 100px 0;
}


.text-block p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #000000;
  line-height: 1.7;
  max-width: 1200px;
}


.project-image {
  margin: 60px 0;
}

.project-text {
  margin: 80px 0;
}

.project-buttons {
  display: flex;              
  justify-content: space-between; 
  flex-wrap: wrap;            
  width: 100vw;               
  max-width: 100%;            
  padding: 1rem;              
  box-sizing: border-box;     
  gap: 1rem;                 
}

.project-buttons .btn-outline {
  flex: 1 1 auto;            
  text-align: center;         
  padding: 0.75rem 1rem;
  min-width: 150px;           
  text-decoration: none;
}

@media (max-width: 700px)
{
  .hero {
    padding: 60px 10px;
  }
  .hero h1 {
    font-size: 2rem;
  }

  .subtext {
    font-size: 0.9rem;
    padding: 0 10px;
  }

  .skills h2 {
  font-size: 32px;
  padding: 8px 16px;
}
.portfolio h2 {
   font-size: 32px;
  padding: 8px 16px;
}

  .skills ul {
    padding: 0;
    text-align: left;
  }
  .skills li {
    font-size: 32px;
    margin: 10px 0;
  }

  .portfolio-list article {
    flex-direction: column;  
    gap: 20px;
    text-align: left;      
  }

  .portfolio-text {
    font-size: 1rem;
  }

  .portfolio-text h3 {
    font-size: 1.4rem;
  }

  .portfolio-text p {
    font-size: 0.95rem;
  }

  .portfolio-text a {
    display: inline-block;
    margin-top: 10px;
  }

  .portfolio-image img {
    width: 100%;
    height: auto;
  }

   nav {
    padding: 12px 20px;
  }

  .logo a {
    font-size: 18px;
  }

  nav ul {
    gap: 15px;
  }

  nav li a {
    font-size: 0.9rem;
  }

  nav .btn {
    padding: 6px 14px;
    font-size: 0.85rem;
  }
  .portfolio-list article {
  flex-direction: column;  
  gap: 20px;
  align-items: flex-start; 
  text-align: left;      
}

 .project-content {
    max-width: 95%;
    margin: 60px auto;
    padding: 0 10px;
  }

  .project-image {
    margin: 40px 0;
  }

  .project-text {
    margin: 50px 0;
  }

  .project-text h2 {
    font-size: 20px;
  }

  .project-text p {
    font-size: 15px;
    line-height: 1.6;
  }

  .project-image img {
    border-radius: 8px;
  }
    .hero {
    padding: 60px 16px;
    text-align: left;
  }

  .hero .tag {
    font-size: 0.85rem;
    display: inline-block;
    margin-bottom: 8px;
  }

  .hero h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  .hero .subtext {
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0;
  }

  /* BOX CONTAINER */
  .box-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    padding: 10px 16px;
    text-align: center;
  }

  .box {
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    max-width: 350px;
    max-height: 50px;
  }

  .box h2.detail {
    font-size: 1.1rem;
    margin-bottom: 6px;
    text-align: center;
  }

  .box p {
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0;
    text-align: center;

  }
    .hero {
    padding: 60px 16px;
    text-align: center; 
  }

  .hero .tag {
    font-size: 0.85rem;
    display: inline-block;
    margin-bottom: 8px;
  }

  .hero h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  .hero .subtext {
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0 auto;   
    max-width: 90%;   
  }

 .project-buttons {
    display: flex;
    flex-direction: column; 
    gap: 10px;             
    align-items: center;    
  }

  .project-buttons .btn-outline {
    font-size: 1.0 rem;      
    padding: 10px 0;         
    width: 100%;              
    max-width: none;          
    text-align: center;      
  }


}
.text-block h2 {
  color: #950952; 
  font-size: 1.4rem;
  margin-bottom: 16px;
  font-family: Lexend;
  font-weight: 200;
}

.project-buttons {
  display: flex;  
  gap: 20px;                
  margin-top: 0px;         
 font-family: 'Lexend' ;
 font-size: 20px;
}

.btn-outline {
  display: inline-block;
  padding: 40px 180px;      
  border: 2px solid #60695C; 
  border-radius: 300px;      
  color: #60695C;            
  font-family: 'Lexend';
  font-weight: 300;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;  
  transition: all 0.2s ease;
}

.btn-outline:hover {
  background: #757155;       
  color: #fff;              
}

