<link rel="stylesheet" href="css/header.css">

<header>
    <nav>
      <div class="logo">
      <a href="index.html">Eljesa Rexhepi</a>
    </div> 
      <ul>
        <li><a href="#arbeiten">Projekte</a></li>
        <li><a href="#">Über mich</a></li>
        <li><a href="#" class="btn">Kontaktiere mich</a></li>
      </ul>
    </nav>
  </header>